# –õ–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ 3. –û—Å–Ω–æ–≤—ã —Ä–∞–±–æ—Ç—ã —Å –±–∏–±–ª–∏–æ—Ç–µ–∫–æ–π Pandas

–°–∫–∞—á–∞–π—Ç–µ –≤ —Ä–∞–±–æ—á—É—é –¥–∏—Ä–µ–∫—Ç–æ—Ä–∏—é —Ñ–∞–π–ª—ã `country_statistics.csv` –∏ `bikes.csv` - –≤ –Ω–∏—Ö –Ω–∞—Ö–æ–¥—è—Ç—Å—è –¥–∞–Ω–Ω—ã–µ, —Å –∫–æ—Ç–æ—Ä—ã–º–∏ –≤—ã –±—É–¥–µ—Ç–µ —Ä–∞–±–æ—Ç–∞—Ç—å.

–î–∞–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ **—Ç—Ä–µ—Ö** –∑–∞–¥–∞–Ω–∏–π. –û–Ω–∏ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ –±–ª–æ–∫–Ω–æ—Ç–µ –ø–æ—Å–ª–µ —Å–∏–º–≤–æ–ª–æ–≤ üìåüìåüìå . –î–ª—è –∑–∞–ø–∏—Å–∏ –æ—Ç–≤–µ—Ç–æ–≤ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —è—á–µ–π–∫–∏ –ø–æ–¥ –∑–∞–¥–∞–Ω–∏—è–º–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –∑–∞–ø–∏—Å—å `# –í–∞—à –∫–æ–¥`.

–ü—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ —Ä–∞–±–æ—Ç—ã —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç—Å—è –æ–±—Ä–∞—â–∞—Ç—å—Å—è:

- [–∫ —Å–ø—Ä–∞–≤–∫–µ –ø–æ Python 3](https://docs.python.org/3/tutorial/index.html),
- –∫ —É—á–µ–±–Ω–∏–∫—É `–£. –ú–∞–∫–∫–∏–Ω–∏. Python –∏ –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö`
- [–∫ —à–ø–∞—Ä–≥–∞–ª–∫–µ –ø–æ Pandas –Ω–∞ Harbr](https://habr.com/ru/company/ruvds/blog/494720/)

![](https://filearmy.s3.amazonaws.com/2017/03/03/25b10be.jpg)

–ú–æ–¥—É–ª—å Pandas –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏, —á–µ–º-—Ç–æ –Ω–∞–ø–æ–º–∏–Ω–∞—é—â–µ–π —Ä–∞–±–æ—Ç—É –≤ Excel. –î–∞–Ω–Ω—ã–µ —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ —Å –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–º–∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ –∏ –ø—Ä–æ–Ω—É–º–µ—Ä–æ–≤–∞–Ω–Ω—ã–º–∏ —Å—Ç—Ä–æ–∫–∞–º–∏.

–î–≤–µ –æ—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –¥–∞–Ω–Ω—ã—Ö –≤ Pandas - *Series* –∏ *DataFrame*.

–î–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ–¥–∫–ª—é—á–∏–º –º–æ–¥—É–ª—å Pandas:

In [1]:
# –î–∞–Ω–Ω–∞—è –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏—è –ø–æ–¥–∫–ª—é—á–∞–µ—Ç –º–æ–¥—É–ª—å pandas  –∏ –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–±—Ä–∞—â–∞—Ç—å—Å—è 
# –∫ –µ–≥–æ —Ñ—É–Ω–∫—Ü–∏—è–º —á–µ—Ä–µ–∑ –∏–º—è pd (–ø—Ä–∏ –∂–µ–ª–∞–Ω–∏–∏ –≤—ã –º–æ–∂–µ—Ç–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∏ –¥—Ä—É–≥–æ–µ –∫–æ—Ä–æ—Ç–∫–æ–µ –∏–º—è, –Ω–æ pd - –æ–±—â–µ—É–ø–æ—Ç—Ä–µ–±–∏–º–æ–µ ).
import pandas as pd

## 1. –û–±—ä–µ–∫—Ç Series 

**Series** - –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–µ, –ø–æ—Ö–æ–∂–∏–π –Ω–∞ –º–∞—Å—Å–∏–≤ –æ–±—ä–µ–∫—Ç, —Å–æ–¥–µ—Ä–∂–∞—â–∏–π –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö –∏ –∞—Å—Å–æ—Ü–∏–∏—Ä–æ–≤–∞–Ω–Ω—ã–π —Å –Ω–∏–º–∏ –º–∞—Å—Å–∏–≤ –º–µ—Ç–æ–∫, –∫–æ—Ç–æ—Ä—ã–π –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è *–∏–Ω–¥–µ–∫—Å–æ–º*.

–ü—Ä–æ—Å—Ç–µ–π—à–∏–π —Å–ø–æ—Å–æ–± —Å–æ–∑–¥–∞—Ç—å –æ–±—ä–µ–∫—Ç Series -  –∑–∞–¥–∞—Ç—å —Ç–æ–ª—å–∫–æ –º–∞—Å—Å–∏–≤ –¥–∞–Ω–Ω—ã—Ö:

In [2]:
obj=pd.Series ([2,-5,7.8,3])
obj

0    2.0
1   -5.0
2    7.8
3    3.0
dtype: float64

–í —Å—Ç—Ä–æ–∫–æ–≤–æ–º –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ Series, –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º–æ–º –≤ –∏–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–º —Ä–µ–∂–∏–º–µ, –∏–Ω–¥–µ–∫—Å –Ω–∞—Ö–æ–¥–∏—Ç—Å—è —Å–ª–µ–≤–∞, –∞ –∑–Ω–∞—á–µ–Ω–∏—è —Å–ø—Ä–∞–≤–∞. –ü–æ—Å–∫–æ–ª—å–∫—É –º—ã –Ω–µ –∑–∞–¥–∞–ª–∏ –∏–Ω–¥–µ–∫—Å –¥–ª—è –¥–∞–Ω–Ω—ã—Ö, —Ç–æ –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é –∏–Ω–¥–µ–∫—Å –∑–∞–¥–∞–µ—Ç—Å—è –∫–∞–∫ `range(n)`. 

–ü–æ–ª—É—á–∏—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–∏ –∏ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–∏–∏ –º–∞—Å—Å–∏–≤–∞ –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é –∞—Ç—Ç—Ä–∏–±—É—Ç–æ–≤ `values` –∏ `index` —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ:

In [3]:
print(obj.values)
print(obj.index)

[ 2.  -5.   7.8  3. ]
RangeIndex(start=0, stop=4, step=1)

–ß—Ç–æ–±—ã —Å–æ–∑–¥–∞—Ç—å –æ–±—ä–µ–∫—Ç Series —Å –∏–Ω–¥–µ–∫—Å–æ–º, –∏–Ω–¥–µ–Ω—Ç–∏—Ñ–∏—Ü–∏—Ä—É—é—â–∏–º –∫–∞–∂–¥—ã–π —ç–ª–µ–º–µ–Ω—Ç –¥–∞–Ω–Ω—ã—Ö –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å–≤–∏–∏ —Å –Ω–µ–∫–æ—Ç–æ—Ä—ã–º —Å–º—ã—Å–ª–æ–º, –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ –∏–Ω–¥–µ–∫—Å–µ  –º–µ—Ç–∫–∏:

In [4]:
obj1=pd.Series([25,15,20,20], index=['left','right', 'top','bottom'])
obj1

left      25
right     15
top       20
bottom    20
dtype: int64

–ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏—Ö –æ–ø–µ—Ä–∞—Ü–∏–π –∫ –æ–±—ä–µ–∫—Ç–∞–º –º–∞—Å—Å–∏–≤–∞ —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç —Å–≤—è–∑—å —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏:

In [5]:
obj1**2

left      625
right     225
top       400
bottom    400
dtype: int64

–û–±—ä–µ–∫—Ç Series –º–æ–∂–Ω–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—Ç—å –∫–∞–∫ —É–ø–æ—Ä—è–¥–æ—á–µ–Ω–Ω—ã–π —Å–ª–æ–≤–∞—Ä—å —Ñ–∏–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –¥–ª–∏–Ω—ã, –ø–æ—Å–∫–æ–ª—å–∫—É –æ–Ω –æ—Ç–æ–±—Ä–∞–∂–∞–µ—Ç –∏–Ω–¥–µ–∫—Å –Ω–∞ –¥–∞–Ω–Ω—ã–µ (–∫–∞–∫ —Å–ª–æ–≤–∞—Ä—å –æ—Ç–æ–±—Ä–∞–∂–∞–µ—Ç –∫–ª—é—á –Ω–∞ –∑–Ω–∞—á–µ–Ω–∏–µ). –ï—Å–ª–∏ –∏–º–µ–µ—Ç—Å—è —Å–ª–æ–≤–∞—Ä—å Python, —Ç–æ –∏–∑ –Ω–µ–≥–æ –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å –æ–±—ä–µ–∫—Ç Series:

In [6]:
my_dict={'Oreo': 23, 'Choko pie':15, 'Milka': 30, 'Mersi': 40}
obj2=pd.Series(my_dict)
obj2

Oreo         23
Choko pie    15
Milka        30
Mersi        40
dtype: int64

–ï—Å–ª–∏ —Ç–æ–ª—å–∫–æ —á–∞—Å—Ç—å —Å–ª–æ–≤–∞—Ä—è –Ω—É–∂–Ω–æ –ø–µ—Ä–µ–Ω–µ—Å–µ—Ç–∏ –≤ –æ–±—ä–µ–∫—Ç Series, —Ç–æ –º–æ–∂–Ω–æ –∑–∞–¥–∞—Ç—å —Å–ø–∏—Å–æ–∫ –∫–ª—é—á–µ–π, –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –∫–æ—Ç–æ—Ä—ã–º –Ω—É–∂–Ω–æ –∑–∞–Ω–µ—Å—Ç–∏ –≤ –º–∞—Å—Å–∏–≤. –ò –ø–µ—Ä–µ–¥–∞—Ç—å —ç—Ç–æ—Ç —Å–ø–∏—Å–æ–∫ –∫–∞–∫ –∏–Ω–¥–µ–∫—Å—ã:

In [7]:
inds=['Oreo', 'Choko pie', 'Chupa-chups', 'Mersi']
obj3=pd.Series(my_dict, index=inds)
obj3

Oreo           23.0
Choko pie      15.0
Chupa-chups     NaN
Mersi          40.0
dtype: float64

‚ùì –û–∫—É–¥–∞ –≤ –º–∞—Å—Å–∏—Å–µ `obj3` –ø–æ—è–≤–∏–ª–æ—Å—å –∑–Ω–∞—á–µ–Ω–∏–µ NaN?

**–û—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è** –≤ Pandas –æ–±–æ–∑–Ω–∞—á–∞—é—Ç—Å—è `NaN`. –î–ª—è —Ä–∞—Å–ø–æ–∑–Ω–∞–≤–∞–Ω–∏—è –æ—Ç—Å—É—Ç—Å–≤—É—é—â–∏—Ö –¥–∞–Ω–Ω—ã—Ö –≤ Pandas —Å–ª–µ–¥—É–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ñ—É–∫—Ü–Ω–∏–∏ `isnull(obj)`  –∏ `notnull(obj)`. –¢–∞–∫–∂–µ —É —Å–∞–º–∏—Ö –æ–±—ä–µ–∫—Ç–æ–≤ Series –µ—Å—Ç—å –≤—Å—Ç—Ä–æ–µ–Ω–Ω—ã–π –º–µ—Ç–æ–¥ `isnull()`.

In [8]:
print(pd.isnull(obj3))
print(pd.notnull(obj3))
print(obj3.isnull())

Oreo           False
Choko pie      False
Chupa-chups     True
Mersi          False
dtype: bool
Oreo            True
Choko pie       True
Chupa-chups    False
Mersi           True
dtype: bool
Oreo           False
Choko pie      False
Chupa-chups     True
Mersi          False
dtype: bool

## 2. –û–±—ä–µ–∫—Ç DataFrame
–û–±—ä–µ–∫—Ç DataFrame –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π —Ç–∞–±–ª–∏—á–Ω—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö, —Å–æ—Å—Ç–æ—è—â—É—é –∏–∑ —É–ø–æ—Ä—è–¥–æ—á–µ–Ω–Ω–æ–π –∫–æ–ª–ª–µ–∫—Ü–∏–∏ —Å—Ç–æ–ª–±—Ü–æ–≤, –ø—Ä–∏—á–µ–º —Ç–∏–ø—ã –∑–Ω–∞—á–µ–Ω–∏–π (—á–∏—Å–ª–æ–≤–æ–π, —Å—Ç—Ä–æ–∫–æ–≤—ã–π, –±—É–ª–µ–≤ –∏ —Ç.–¥.) –≤ —Ä–∞–∑–Ω—ã—Ö —Å—Ç–æ–±—Ü–∞—Ö –º–æ–≥—É—Ç —Ä–∞–∑–ª–∏—á–∞—Ç—å—Å—è. 

–í –æ–±—ä–µ–∫—Ç–µ DataFrame —Ö—Ä–∞–Ω—è—Ç—Å—è –¥–≤–∞ –∏–Ω–¥–µ–∫—Å–∞: –ø–æ —Å—Ç—Ä–æ–∫–∞–º –∏ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º.  –ú–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å, —á—Ç–æ —ç—Ç–æ —Å–ª–æ–≤–∞—Ä—å –æ–±—ä–µ–∫—Ç–æ–≤ Series, –∏–º–µ—é—â–∏—Ö –æ–±—â–∏–π –∏–Ω–¥–µ–∫—Å.

–û—Å–Ω–æ–≤–Ω—ã–µ —Å–ø–æ—Å–æ–±—ã –∫–æ–Ω—Å—Ç—Ä—É–∏—Ä–æ–≤–∞–Ω–∏—è –æ–±—ä–µ–∫—Ç–∞ DataFrame:
- —á–µ—Ä–µ–∑ —Å–ª–æ–≤–∞—Ä—å —Å–ø–∏—Å–∫–æ–≤ –æ–¥–∏–Ω–∞–∫–æ–≤–æ–π –¥–ª–∏–Ω—ã –∏–ª–∏ –º–∞—Å—Å–∏–≤–æ–≤ NumPy (–æ –Ω–∏—Ö –ø–æ–∑–∂–µ)
- –ø—É—Ç–µ–º —á—Ç–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü –∏–∑ —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö —Ñ–∞–π–ª–æ–≤ —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—è–º–∏ (`*.csv, *.txt`, –∏ –ø—Ä.) –∏–ª–∏ —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü Excel.

### 2.1. –°–æ–∑–¥–∞–Ω–∏–µ DataFrame –≤–Ω—É—Ç—Ä–µ–Ω–Ω–∏–º–∏ —Å—Ä–µ–¥—Å—Ç–≤–∞–º–∏ Python
–°–æ–∑–¥–∞–µ–º DataFrame –∏–∑ —Å–ª–æ–≤–∞—Ä—è:

In [9]:
my_dict={'state':['Ohio','Ohio','Ohio','Nevada', 'Nevada','Nevada'], 
          'year':[2000, 2001, 2002, 2001, 2002, 2003],
          'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]} # —Å–ª–æ–≤–∞—Ä—å, –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –∫–æ—Ç–æ—Ä–æ–≥–æ - —Å–ø–∏—Å–∫–∏
df=pd.DataFrame(my_dict) # —Å–æ–∑–¥–∞–Ω–∏–µ –æ–±—ä–µ–∫—Ç–∞ DataFrame –∏–∑ —Å–ª–æ–≤–∞—Ä—è. –ö–ª—é—á–∏ —Å—Ç–∞–Ω–æ–≤—è—Ç—Å—è —Å—Ç–æ–ª–±—Ü–∞–º–∏
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

–ò–Ω–¥–µ–∫—Å –Ω–∞–∑–Ω–∞—á–∞–µ—Ç—Å—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –∫–∞–∫  `range(—á–∏—Å–ª–æ_—Å—Ç—Ä–æ–∫)`.
–ï—Å–ª–∏ –µ—Å—Ç—å –∂–µ–ª–∞–Ω–∏–µ –Ω–∞–∑–Ω–∞—á–∏—Ç—å –¥—Ä—É–≥–æ–π –∏–Ω–¥–µ–∫—Å –∏–ª–∏ –∏–∑–º–µ–Ω–∏—Ç—å —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –ø–æ –ø–æ—Ä—è–¥–∫—É, —ç—Ç–æ –º–æ–∂–Ω–æ —É–∫–∞–∑–∞—Ç—å –ø—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ DataFrame:

In [10]:
df2=pd.DataFrame(my_dict, columns=['year', 'state', 'pop'], 
                 index=['one', 'two','three', 'four', 'five', 'six'])
df2

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
six    2003  Nevada  3.2

–í—ã–≤–æ–¥ –ø–µ—Ä–≤—ã—Ö  (–ø–æ—Å–ª–µ–¥–Ω–∏—Ö) `n` —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã –æ—Å—É—â–µ—Å—Ç–≤–ª—è–µ—Ç—Å—è —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–æ–≤ `head(n)` (`tail(n)`). –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é `n=5`.

In [11]:
df2.head()

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9

–†–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã –¥–∞–Ω–Ω—ã—Ö (—á–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ - —á–∏—Å–ª–æ —Å—Ç–æ–ª–±—Ü–æ–≤):

In [12]:
df2.shape

(6, 3)

–ú–æ–∂–Ω–æ –≤—ã–≤–µ—Å—Ç–∏ –Ω–∞–∑–≤–∞–Ω–∏—è –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤:

In [13]:
df2.columns

Index(['year', 'state', 'pop'], dtype='object')

–ö—Ä–∞—Ç–∫–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –º–æ–∂–Ω–æ –≤—ã–≤–µ—Å—Ç–∏ —Ç–∞–∫:

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, one to six
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6 non-null      int64
 1   state   6 non-null      object
 2   pop     6 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 192.0+ bytes

### 2.2. –ë–∞–∑–æ–≤—ã–π —Ñ—É–Ω–∫—Ü–∏–æ–Ω–∞–ª DataFrame
#### 2.2.1. –û–±—Ä–∞—â–µ–Ω–∏–µ –∫ —ç–ª–µ–º–µ–Ω—Ç–∞–º Dataframe, —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è, —Å—Ä–µ–∑—ã

**–°—Ç–æ–ª–±–µ—Ü** DataFrame –º–æ–∂–Ω–æ –∏–∑–≤–ª–µ—á—å –∫–∞–∫ –æ–±—ä–µ–∫—Ç Series:

In [15]:
print(df['year'])
print(df.state)# —Ç–∞–∫–æ–π —Å–ø–æ—Å–æ–± –Ω–µ —Å—Ä–∞–±–æ—Ç–∞–µ—Ç, –µ—Å–ª–∏ –Ω–∞–∑—ã–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –ø—Ä–æ–±–µ–ª—ã

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64
0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

–ß—Ç–æ–±—ã –∏–∑–≤–ª–µ—á—å –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç–æ–ª–±—Ü–æ–≤, –Ω—É–∂–Ω–æ –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö —Å–∫–æ–±–∫–∞—Ö `[]` –ø–µ—Ä–µ–¥–∞—Ç—å **—Å–ø–∏—Å–æ–∫** –Ω–∞–∑–≤–∞–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤:

In [16]:
df[['state', 'year']]

    state  year
0    Ohio  2000
1    Ohio  2001
2    Ohio  2002
3  Nevada  2001
4  Nevada  2002
5  Nevada  2003

–î–æ—Å—Ç—É–ø –∫ **—Å—Ç—Ä–æ–∫–∞–º** –ø–æ –∏–Ω–¥–µ–∫—Å—É:

In [17]:
df[2:4]

    state  year  pop
2    Ohio  2002  3.6
3  Nevada  2001  2.4

–î–æ—Å—Ç—É–ø  –∫ —Å—Ç—Ä–æ–∫–∞–º –ø–æ —É—Å–ª–æ–≤–∏—è–º:

In [18]:
print(df[df.year>2000])

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

–ò–Ω–æ–≥–¥–∞ –±—ã–≤–∞–µ—Ç –Ω—É–∂–Ω–æ –≤—ã–≤–µ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–∏ —Å —Ñ–∏–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –ø–æ–ª–µ–π. –í —Ç–∞–∫–∏—Ö —Å–ª—É—á–∞—è—Ö –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –ª–æ–≥–∏–∫–æ–π, –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ–π —Ç–æ–π, —á—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª–∞—Å—å –≤ –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏ `if`.

–î–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —É—Å–ª–æ–≤–∏–π –≤ `if` –º—ã –ø–∏—Å–∞–ª–∏ –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏ –≤—Ä–æ–¥–µ —Ç–∞–∫–æ–π:

In [19]:
if 1 > 0 and 10 <= 11:
    print('ok')

ok

–ê–Ω–∞–ª–æ–≥–∏—á–Ω—É—é –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏—é –º–æ–∂–Ω–æ –≤–ø–∏—Å–∞—Ç—å –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö —Å–∫–æ–±–∫–∞—Ö `[]` –¥–ª—è —É–º–Ω–æ–π –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏ –≤ `pandas`:

In [20]:
df[(df['year'] > 2000) & (df['pop'] <3)]

    state  year  pop
1    Ohio  2001  1.7
3  Nevada  2001  2.4
4  Nevada  2002  2.9

–í–∞–∂–Ω—ã–µ –æ—Ç–ª–∏—á–∏—è –æ—Ç `if`:
- –æ–ø–µ—Ä–∞—Ç–æ—Ä `and` –∑–∞–º–µ–Ω—è–µ—Ç—Å—è –Ω–∞ —Å–∏–º–≤–æ–ª `&`
- –æ–ø–µ—Ä–∞—Ç–æ—Ä `or` –∑–∞–º–µ–Ω—è–µ—Ç—Å—è –Ω–∞ —Å–∏–º–≤–æ–ª `|`
- –æ–ø–µ—Ä–∞—Ç–æ—Ä `not` –∑–∞–º–µ–Ω—è–µ—Ç—Å—è –Ω–∞ —Å–∏–º–≤–æ–ª `~`
- –∫–∞–∂–¥–æ–µ —É—Å–ª–æ–≤–∏–µ –Ω–∞–¥–æ –æ–±–æ—Ä–∞—á–∏–≤–∞—Ç—å –≤ –∫—Ä—É–≥–ª—ã–µ —Å–∫–æ–±–∫–∏ `()`

**–û–±—Ä–∞—Ç–∏—Ç—å—Å—è –∫ –æ—Ç–¥–µ–ª—å–Ω–æ–º—É —ç–ª–µ–º–µ–Ω—Ç—É –∏–ª–∏ —Å–¥–µ–ª–∞—Ç—å —Å—Ä–µ–∑ –¥–∞–Ω–Ω—ã—Ö** –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–æ–≤ `loc` –∏ `iloc`. –û–Ω–∏ –ø–æ–∑–≤–æ–ª—è—é—Ç –≤—ã–±—Ä–∞—Ç—å –ø–æ–¥–º–Ω–æ–∂–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤, –∏—Å–ø–æ–ª—å–∑—É—è –ª–∏–±–æ –º–µ—Ç–∫–∏ —Å—Ç—Ä–æ–∫ (`loc`), –ª–∏–±–æ —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞ (`iloc`).
[–ü–æ–¥—Ä–æ–±–Ω–µ–µ –æ —Ä–∞–∑–ª–∏—á–∏—è—Ö –º–µ–∂–¥—É loc –∏ iloc](https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79#:~:text=The%20main%20distinction%20between%20loc,0%2Dbased%20integer%20position)

In [21]:
df2.loc[ 'two',['state','year'] ] # –º–µ—Ç–∫–∞ —Å—Ç—Ä–æ–∫–∏, –º–µ—Ç–∫–∏ —Å—Ç–æ–ª–±—Ü–æ–≤

state    Ohio
year     2001
Name: two, dtype: object

In [22]:
df2.iloc[2:, 0 ]  # –Ω–æ–º–µ—Ä–∞ —Å—Ç—Ä–æ–∫, –Ω–æ–º–µ—Ä —Å—Ç–æ–ª–±—Ü–∞

three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [23]:
df2.iloc[:,0][df2.state=='Nevada']

four    2001
five    2002
six     2003
Name: year, dtype: int64

#### 2.2.2. –ê—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏
–ú–µ–∂–¥—É –æ–±—ä–µ–∫—Ç–∞–º–∏ Series –∏ DataFrame –º–æ–∂–Ω–æ –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç—å –∞—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏. –ü—Ä–∏ —ç—Ç–æ–º –æ–ø–µ—Ä–∞—Ü–∏–∏ –ø—Ä–æ–∏–∑–≤–æ–¥—è—Ç—Å—è –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω–æ –Ω–∞–¥ —ç–ª–µ–º–µ–Ω—Ç–∞–º–∏ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ –∏–Ω–¥–µ–∫—Å–∞–º–∏.

In [24]:
df1=pd.DataFrame(data={"city":['Krasnoyarsk', 'Kansk', 'Achinsk'], "june":[190, 102, 98], "july":[179, 88, 67]})
df2=pd.DataFrame(data={"city":['Krasnoyarsk', 'Kansk', 'Achinsk'], "june":[185, 112, 81], "july":[223, 83, 91]}, index=[1,2,3])
df1['june']-df1['july']# —Ä–∞–∑–Ω–æ—Å—Ç—å –º–µ–∂–¥—É –¥–≤—É–º—è —Å—Ç–æ–ª–±—Ü–∞–º–∏
# –ø–æ–ø—Ä–æ–±—É–π—Ç–µ –∏ –¥—Ä—É–≥–∏–µ –∞—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ –Ω–∞–¥ —Å—Ç–æ–ª–±—Ü–∞–º–∏ - —Å–ª–æ–∂–µ–Ω–∏–µ, —É–º–Ω–æ–∂–µ–Ω–∏–µ, –¥–µ–ª–µ–Ω–∏–µ, –≤–æ–∑–≤–µ–¥–µ–Ω–∏–µ –≤ —Å—Ç–µ–ø–µ–Ω—å (pow)

0    11
1    14
2    31
dtype: int64

In [25]:
df1+df2

               city   june   july
0               NaN    NaN    NaN
1  KanskKrasnoyarsk  287.0  311.0
2      AchinskKansk  210.0  150.0
3               NaN    NaN    NaN

‚ùì –ü–æ—á–µ–º—É –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ —Å–ª–æ–∂–µ–Ω–∏—è `df1` –∏ `df2` —á–∞—Å—Ç—å —ç–ª–µ–º–µ–Ω—Ç–æ–≤ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–µ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –æ–∫–∞–∑–∞–ª–∞—Å—å `NaN`? –ß—Ç–æ —Å–ª—É—á–∏–ª–æ—Å—å —Å –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –≥–æ—Ä–æ–¥–æ–≤?

#### 2.2.3 –ö–æ–ø–∏—Ä–æ–≤–∞–Ω–∏–µ –æ–±—ä–µ–∫—Ç–æ–≤ Pandas

1. –í Python –æ–ø–µ—Ä–∞—Ü–∏—è –ø—Ä–∏—Å–≤–∞–∏–≤–∞–Ω–∏—è —Å–æ–∑–¥–∞–µ—Ç **—Å—Å—ã–ª–∫—É** –Ω–∞ –æ–±—ä–µ–∫—Ç, —Å—Ç–æ—è—â–∏–π —Å–ø—Ä–∞–≤–∞, –ø–æ—ç—Ç–æ–º—É –µ—Å–ª–∏ –ø–æ—Å–ª–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è —Ç–∞–∫–æ–≥–æ –∫–æ–¥–∞:

        df1=pd.Dataframe(my_dict)
        df2=df1
    
    –≤—ã —Ä–µ—à–∏—Ç–µ –∏–∑–º–µ–Ω–∏—Ç—å `df2`, –Ω–∞–ø—Ä–∏–º–µ—Ä, —Ç–æ —Ç–µ –∂–µ —Å–∞–º—ã–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è –ø—Ä–æ–∏–∑–æ–π–¥—É—Ç –∏ —Å `df1`, –ø–æ—Ç–æ–º—É —á—Ç–æ –∏ —Ç–∞, –∏ –¥—Ä—É–≥–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è —Å—Å—ã–ª–∞—é—Ç—Å—è –Ω–∞ –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –æ–±—ä–µ–∫—Ç.
    
2. –ü—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ–µ –∫–æ–¥–∞
        `object_new=object.copy(deep=True)` 
    (–ø–∞—Ä–∞–º–µ—Ç—Ä `deep` —Ä–∞–≤–µ–Ω `True` –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é) –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤–æ–≥–æ **–æ–±—ä–µ–∫—Ç–∞** –∏ –∫–æ–ø–∏—Ä–æ–≤–∞–Ω–∏–µ –≤ –Ω–µ–≥–æ –∏–Ω–¥–µ–∫—Å–æ–≤ –∏ —Å–æ–¥–µ—Ä–∂–∞–Ω–∏—è –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞ `object`.

In [26]:
s = pd.Series([1, 2], index=["a", "b"])
deep = s.copy()
shallow = s
## –î–æ–±–∞–≤—å—Ç–µ —Å–≤–æ–π –∫–æ–¥ - –∏–∑–º–µ–Ω–∏—Ç–µ –∫–∞–∫–∏–º-—Ç–æ –æ–±—Ä–∞–∑–æ–º s –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ –ø—Ä–∏ —ç—Ç–æ–º –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç —Å deep –∏ shallow

#### 2.2.4 –ö–æ–º–±–∏–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤:
1. –ö–æ–Ω–∫–∞—Ç–µ–Ω–∞—Ü–∏—è (`pd.concat()`)
    - **–≤–µ—Ä—Ç–∏–∫–∞–ª—å–Ω–∞—è**. –¢–∞–∫–∞—è –∫–æ–Ω–∫–∞—Ç–µ–Ω–∞—Ü–∏—è –≤–æ–∑–º–æ–∂–Ω–∞, –µ—Å–ª–∏ –∏–º–µ—é—Ç—Å—è –¥–≤–∞ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏;
    - **–≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å–Ω–∞—è**. –¢–∞–∫–∞—è –∫–æ–Ω–∫–∞—Ç–µ–Ω–∞—Ü–∏—è –≤–æ–∑–º–æ–∂–Ω–∞, –µ—Å–ª–∏ —É –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤ –æ–¥–∏–Ω–∞–∫–æ–≤–æ–µ —á–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ –∏ –æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ –∏–Ω–¥–µ–∫—Å—ã
2. –°–ª–∏—è–Ω–∏–µ (`pd.merge()`) - —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ –ø–æ –æ–¥–Ω–æ–º—É –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –∫–ª—é—á–∞–º (–∫–∞–∫ –≤ sql)
    - –≤ —Ä–∞–±–æ—Ç–µ —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º —Ç–æ–ª—å–∫–æ –≤–Ω—É—Ç—Ä–µ–Ω–Ω–µ–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ `inner`, –∫–æ—Ç–æ—Ä–æ–µ –ø—Ä–∏–º–µ–Ω—è–µ—Å—è –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é: –≤ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –æ–±—ä–µ–∫—Ç –ø–æ–ø–∞–¥–∞—é—Ç —Ç–æ–ª—å–∫–æ –∫–ª—é—á–∏, –ø—Ä–∏—Å—É—Ç—Å–≤—É—é—â–∏–µ –≤ –æ–±–æ–∏—Ö –æ–±—ä–µ–∫—Ç–∞—Ö-–∞—Ä–≥—É–º–µ–Ω—Ç–∞—Ö. 
    
    –ü—Ä–æ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–µ —Ç–∏–ø—ã —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–π (`left`, `right`, `outer`) –ø—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏ –ø—Ä–æ—á—Ç–∏—Ç–µ –≤ –∫–Ω–∏–≥–µ `–£. –ú–∞–∫–∫–∏–Ω–∏. Python –∏ –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö, –ø. 8.2`

In [27]:
df1 = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D'],
    'math': [60,89,82,70],
    'physics': [66,95,83,66],
    'chemistry': [61,91,77,70]
})
df2 = pd.DataFrame({
    'name': ['E', 'F', 'G', 'H'],
    'math': [66,95,83,66],
    'physics': [60,89,66,95],
    'chemistry': [90,81,78,90]
})

In [28]:
df3=pd.concat([df1,df2])# –≤–µ—Ä—Ç–∏–∫–∞–ª—å–Ω–∞—è –∫–æ–Ω–∫–∞—Ç–µ–Ω–∞—Ü–∏—è. –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, –∏–Ω–¥–µ–∫—Å—ã –æ—Å—Ç–∞–ª–∏—Å—å –∏—Å—Ö–æ–¥–Ω—ã–º–∏

In [29]:
df3.loc[0]# –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –¥–≤–µ —Å—Ç—Ä–æ–∫–∏ –∏–º–µ—é—Ç –æ–¥–∏–Ω–∞–∫–æ–≤—ã–π –∏–Ω–¥–µ–∫—Å

  name  math  physics  chemistry
0    A    60       66         61
0    E    66       60         90

In [30]:
df3_ignore=pd.concat([df1,df2], ignore_index=True)
df3_ignore

  name  math  physics  chemistry
0    A    60       66         61
1    B    89       95         91
2    C    82       83         77
3    D    70       66         70
4    E    66       60         90
5    F    95       89         81
6    G    83       66         78
7    H    66       95         90

In [31]:
df4=pd.concat([df1,df2], axis=1)# –≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å–Ω–∞—è –∫–æ–Ω–∫–∞—Ç–µ–Ω–∞—Ü–∏—è
df4
# –¥–æ–ø–∏—à–∏—Ç–µ –µ—â–µ –æ–¥–∏–Ω –∞—Ä–≥—É–º–µ–Ω—Ç: ignore_index=True, –≤—ã–≤–µ–¥–∏—Ç–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º. –ß—Ç–æ —Å –Ω–∏–º —Å–ª—É—á–∏–ª–æ—Å—å –∏ –ø–æ—á–µ–º—É?

  name  math  physics  chemistry name  math  physics  chemistry
0    A    60       66         61    E    66       60         90
1    B    89       95         91    F    95       89         81
2    C    82       83         77    G    83       66         78
3    D    70       66         70    H    66       95         90

In [32]:
pd.merge(df1, df2, on='physics')# —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ —Å—Ç–æ–±—Ü—É —Å –æ—Ü–µ–Ω–∫–∞–º–∏ –ø–æ —Ñ–∏–∑–∏–∫–µ. –°—Ç–æ–ª–±–µ—Ü –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è –æ–¥–∏–Ω–∞–∫–æ–≤–æ –≤ –æ–±–æ–∏—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞—Ö

  name_x  math_x  physics  chemistry_x name_y  math_y  chemistry_y
0      A      60       66           61      G      83           78
1      B      89       95           91      H      66           90
2      D      70       66           70      G      83           78

In [33]:
df2.rename(columns={'physics': 'phys'}, inplace=True) # –ø–µ—Ä–µ–∏–º–µ–Ω—É–µ–º —Å—Ç–æ–ª–±–µ—Ü –æ—Ü–µ–Ω–æ–∫ –ø–æ —Ñ–∏–∑–∏–∫–µ
df2

  name  math  phys  chemistry
0    E    66    60         90
1    F    95    89         81
2    G    83    66         78
3    H    66    95         90

In [34]:
pd.merge(df1, df2, left_on='physics', right_on='phys')

  name_x  math_x  physics  chemistry_x name_y  math_y  phys  chemistry_y
0      A      60       66           61      G      83    66           78
1      B      89       95           91      H      66    95           90
2      D      70       66           70      G      83    66           78

#### 2.2.5 –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ –∏–ª–∏ —Å—Ç–æ–ª–±—Ü–æ–≤

In [35]:
df3_ignore.drop(['math', 'chemistry'], axis=1)# —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ c —É–∫–∞–∑–∞–Ω–Ω—ã–º–∏ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏

  name  physics
0    A       66
1    B       95
2    C       83
3    D       66
4    E       60
5    F       89
6    G       66
7    H       95

In [36]:
df3_ignore.drop([1, 3], axis=0)# —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å —É–∫–∞–∑–∞–Ω–Ω—ã–º–∏ –∏–Ω–¥–µ–∫—Å–∞–º–∏

  name  math  physics  chemistry
0    A    60       66         61
2    C    82       83         77
4    E    66       60         90
5    F    95       89         81
6    G    83       66         78
7    H    66       95         90

## 2.3. –≠–∫—Å–ø–æ—Ä—Ç —Ç–∞–±–ª–∏—Ü—ã –∏–∑ —Ñ–∞–π–ª–∞
–í `pandas` –º–æ–∂–Ω–æ –ª–µ–≥–∫–æ –∏ —É–¥–æ–±–Ω–æ —Å—á–∏—Ç—ã–≤–∞—Ç—å —Ç–∞–±–ª–∏—Ü—ã  –¥–∞–Ω–Ω—ã—Ö (–¥–∞—Ç–∞—Å–µ—Ç—ã) —Ñ–æ—Ä–º–∞—Ç–æ–≤ .csv, .tsv, .xls, .xlsx, ... —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ `read_csv` –∏–ª–∏ `read_excel` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ñ–æ—Ä–º–∞—Ç–∞. –í —Ç–µ—á–µ–Ω–∏–µ –∫—É—Ä—Å–∞ –º—ã –≤ –æ—Å–Ω–æ–≤–Ω–æ–º –±—É–¥–µ–º —Å—á–∏—Ç—ã–≤–∞—Ç—å –∏–∑ .csv (comma separated values).

–†–∞—Å—Å–º–æ—Ç—Ä–∏–º —Ç–∞–±–ª–∏—Ü—É (—Ñ–∞–π–ª `country_statistics.csv`), —Å–æ–¥–µ—Ä–∂–∞—â—É—é —Ä–∞–∑–ª–∏—á–Ω—ã–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º —Å $1980$ –ø–æ $2009$ –≥–æ–¥, –≤–∑—è—Ç—ã–µ –∏–∑ –±–∞–∑—ã [United Nations System](http://data.un.org/Default.aspx).

–°—á–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏ –≤—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ $5$ —Å—Ç—Ä–æ–∫:

In [37]:
countries = pd.read_csv('country_statistics.csv')
countries.head()

,Country or Area,Life expectancy,Year,Literacy percent,Child overweight percent,Child underweight percent
0,Afghanistan,41.0,1985,NaN,NaN,NaN
1,Afghanistan,41.0,1990,NaN,NaN,NaN
2,Afghanistan,42.0,1990,NaN,NaN,NaN
3,Albania,72.0,1985,NaN,NaN,NaN
4,Albania,72.0,1990,NaN,NaN,NaN

In [38]:
# –í—ã–≤–µ–¥–∏—Ç–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ
# –í–∞—à –∫–æ–¥

‚ùì –ï—Å—Ç—å –ª–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ –¥–∞–Ω–Ω—ã—Ö —Å—Ç–æ–ª–±–µ—Ü, –≤ –∫–æ—Ç–æ—Ä–æ–º –Ω–µ—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤ –¥–∞–Ω–Ω—ã—Ö?

‚ùì –°–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ `Life expectancy`?

üìåüìåüìå **–ó–∞–¥–∞–Ω–∏–µ 1 (10 –±–∞–ª–ª–æ–≤).**

–í—ã–≤–µ–¥–∏—Ç–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –∑–∞ 2000 –≥. –æ —Å—Ç—Ä–∞–Ω–∞—Ö, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –ø—Ä–æ—Ü–µ–Ω—Ç –≥—Ä–∞–º–æ—Ç–Ω–æ–≥–æ –Ω–∞—Å–µ–ª–µ–Ω–∏—è –±–æ–ª—å—à–µ 80

In [39]:
# –≤–∞—à –∫–æ–¥
countries[(countries.Year==2000) & (countries['Literacy percent']>80)]

,Country or Area,Life expectancy,Year,Literacy percent,Child overweight percent,Child underweight percent
984,Bosnia and Herzegovina,73.5,2000,96.7,16.300000,4.200000
985,Bosnia and Herzegovina,74.0,2000,96.7,16.300000,4.200000
988,Brazil,69.5,2000,86.4,NaN,NaN
989,Brazil,71.0,2000,86.4,NaN,NaN
1014,China,70.5,2000,90.9,3.366667,7.400000
1015,China,72.0,2000,90.9,3.366667,7.400000
1023,Costa Rica,77.5,2000,94.9,NaN,NaN
1024,Costa Rica,78.5,2000,94.9,NaN,NaN
1046,Equatorial Guinea,48.5,2000,88.3,13.966667,15.700000
1047,Equatorial Guinea,49.5,2000,88.3,13.966667,15.700000
1050,Estonia,69.5,2000,99.8,NaN,NaN
1051,Estonia,71.0,2000,99.8,NaN,NaN
1120,Kenya,54.0,2000,82.2,8.133333,17.433333
1121,Kenya,51.0,2000,82.2,8.133333,17.433333
1131,Latvia,70.0,2000,99.7,NaN,NaN
1132,Latvia,71.5,2000,99.7,NaN,NaN
1135,Lesotho,55.5,2000,86.3,21.000000,15.000000
1136,Lesotho,44.5,2000,86.3,21.000000,15.000000
1153,Malaysia,72.5,2000,88.7,NaN,NaN
1154,Malaysia,73.0,2000,88.7,NaN,NaN
1155,Maldives,63.5,2000,96.3,NaN,NaN
1156,Maldives,66.0,2000,96.3,NaN,NaN
1165,Mauritius,71.0,2000,84.3,NaN,NaN
1166,Mauritius,72.0,2000,84.3,NaN,NaN
1167,Mexico,73.5,2000,90.5,NaN,NaN
1168,Mexico,74.5,2000,90.5,NaN,NaN
1169,Mongolia,63.5,2000,97.8,12.700000,11.600000
1170,Mongolia,65.0,2000,97.8,12.700000,11.600000
1177,Myanmar,60.5,2000,89.9,2.400000,30.100000
1178,Myanmar,60.0,2000,89.9,2.400000,30.100000
1205,Panama,73.5,2000,91.9,NaN,NaN
1206,Panama,74.5,2000,91.9,NaN,NaN
1213,Philippines,69.0,2000,92.6,NaN,NaN
1214,Philippines,70.0,2000,92.6,NaN,NaN
1223,Republic of Moldova,66.5,2000,96.7,NaN,NaN
1224,Republic of Moldova,67.5,2000,96.7,NaN,NaN
1249,Singapore,77.0,2000,92.5,2.566667,3.266667
1250,Singapore,79.0,2000,92.5,2.566667,3.266667
1269,Swaziland,54.5,2000,81.7,14.866667,9.100000
1270,Swaziland,44.0,2000,81.7,14.866667,9.100000
1277,Tajikistan,64.5,2000,99.5,NaN,NaN
1278,Tajikistan,66.0,2000,99.5,NaN,NaN
1281,Thailand,68.0,2000,92.6,NaN,NaN
1282,Thailand,69.0,2000,92.6,NaN,NaN
1310,Uzbekistan,66.5,2000,98.6,NaN,NaN
1808,Viet Nam,NaN,2000,90.2,2.742857,28.457143

## 2.4. –ü—Ä–æ—Å—Ç–µ–π—à–∞—è –æ–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤
–ö–∞–∫ –≤–∏–¥–Ω–æ –ø–æ —Ç–∞–±–ª–∏—Ü–µ `country`, –ø—Ä–∏ —Å–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö —á–∞—Å—Ç–æ –≤–æ–∑–Ω–∏–∫–∞—é—Ç *–ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è*, –∏ –≤ —Ç–∞–±–ª–∏—Ü–µ –ø–æ—è–≤–ª—è—é—Ç—Å—è –ø–æ–ª—è —Å–æ –∑–Ω–∞—á–µ–Ω–∏–µ–º NaN.

–ü—Ä–æ—Å—Ç–µ–π—à–∏–µ —Å–ø–æ—Å–æ–±—ã –æ—Ç –Ω–∏—Ö –∏–∑–±–∞–≤–∏—Ç—å—Å—è:
- –º–æ–∂–Ω–æ –∑–∞–º–µ–Ω–∏—Ç—å –∏—Ö –Ω–∞ –∫–∞–∫–æ–µ-–Ω–∏–±—É–¥—å —Ñ–∏–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (–º–µ—Ç–æ–¥ `fillna()`)
- –º–æ–∂–Ω–æ –≤–æ–æ–±—â–µ —É–¥–∞–ª–∏—Ç—å —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ NaN (–º–µ—Ç–æ–¥ `dropna()`)

–û–¥–Ω–∞ –∏–∑ –º–µ—Ä –±–æ—Ä—å–±—ã —Å NaN -- –∑–∞–º–µ–Ω–∞ –Ω–∞ –∫–∞–∫–æ–µ-–ª–∏–±–æ –∑–Ω–∞—á–µ–Ω–∏–µ. –í —ç—Ç–æ–π —Ä–∞–±–æ—Ç–µ –∑–∞–º–µ–Ω—è—Ç—å –±—É–¥–µ–º –Ω–∞ –º–æ–¥—É (–Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞—é—â–µ–µ—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ)

–°–Ω–∞—á–∞–ª–∞ –æ–ø—Ä–µ–¥–µ–ª–∏–º:
-  –∫–∞–∫–∏–∏–µ –≤–æ–æ–±—â–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è —É –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π `Life expectancy`;
- —á–∞—Å—Ç–æ—Ç—ã –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ —ç—Ç–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π

–î–ª—è —ç—Ç–æ–≥–æ –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –º–µ—Ç–æ–¥–æ–º `value_counts()`, —É—Å—Ç–∞–Ω–æ–≤–∏–≤ –ø–∞—Ä–∞–º–µ—Ç—Ä `sort=True`, —á—Ç–æ–±—ã –∑–Ω–∞—á–µ–Ω–∏–µ –±—ã–ª–∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤ –ø–æ—Ä—è–¥—á–µ —É–º–µ–Ω—å—à–µ–Ω–∏—è —á–∞—Å—Ç–æ—Ç—ã –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏.

In [40]:
countries['Life expectancy'].value_counts(sort=True)# —Å–ø–∏—Å–æ–∫ –≤—Å–µ–≤–æ–∑–º–æ–∂–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∑–Ω–∞—á–µ–Ω–∏–π Life expectancy —Å —á–∞—Å—Ç–æ—Ç–∞–º–∏ –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ —ç—Ç–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π

Life expectancy
71.5    41
70.0    40
74.5    39
69.5    37
71.0    37
        ..
71.6     1
71.9     1
72.2     1
72.4     1
72.6     1
Name: count, Length: 101, dtype: int64

–í–∏–¥–Ω–æ, —á—Ç–æ –º–æ–¥–∞ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è `Life expectancy` —Ä–∞–≤–Ω–∞ $71.5$.
–ó–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ `Life expectancy` –Ω–∞ —ç—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–µ.

In [41]:
# –ö–æ–ø–∏—Ä—É–µ–º —Ç–∞–±–ª–∏—Ü—É, —á—Ç–æ–±—ã –Ω–µ –ø–æ—Ä—Ç–∏—Ç—å –∏—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ.
countries_without_nan = countries.copy()

In [42]:
countries_without_nan['Life expectancy'] = countries_without_nan['Life expectancy'].fillna(71.5)

–í–∞–∂–Ω–æ –∏–∑–±–µ–≥–∞—Ç—å *–Ω–µ–æ–±–¥—É–º–∞–Ω–Ω—ã—Ö* –∑–∞–º–µ–Ω –∑–Ω–∞—á–µ–Ω–∏–π –≤ –¥–∞–Ω–Ω—ã—Ö –Ω–∞–ø–æ–¥–æ–±–∏–µ —Å–æ–≤–µ—Ä—à—ë–Ω–Ω–æ–≥–æ. –¢–∞–∫–∏–µ –¥–µ–π—Å—Ç–≤–∏—è –º–æ–≥—É—Ç —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ –ø–æ–≤–ª–∏—è—Ç—å –Ω–∞ –æ–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏, —Ç–∞–∫ —á—Ç–æ –∏–Ω–æ–≥–¥–∞ –±–µ–∑–æ–ø–∞—Å–Ω–µ–µ –ø–æ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –ø—Ä–æ—Å—Ç–æ –Ω–µ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏:

In [43]:
countries_without_nan = countries_without_nan.dropna(how='any')

–ó–Ω–∞—á–µ–Ω–∏–µ –∞—Ä–≥—É–º–µ–Ω—Ç–∞ `how='any'` –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –±—É–¥—É—Ç —É–¥–∞–ª–µ–Ω—ã –≤—Å–µ —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ **—Ö–æ—Ç—è –±—ã –æ–¥–∏–Ω** –ø—Ä–æ–ø—É—Å–∫. –¢–∞–∫–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Å—Ç–æ–∏—Ç –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é.

–ú–æ–∂–Ω–æ –±—ã–ª–æ –ø—Ä–æ–ø–∏—Å–∞—Ç—å `how='all'`, –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ —á–µ–≥–æ —É–¥–∞–ª–∏–ª–∏—Å—å –±—ã —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–∏, –ø–æ–ª–Ω–æ—Å—Ç—å—é —Å–æ—Å—Ç–æ—è—â–∏–µ –∏–∑ NaN.

In [44]:
countries_without_nan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126 entries, 101 to 1818
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country or Area            126 non-null    object
 1   Life expectancy            126 non-null    float64
 2   Year                       126 non-null    int64
 3   Literacy percent           126 non-null    float64
 4   Child overweight percent   126 non-null    float64
 5   Child underweight percent  126 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.9+ KB

–û–ø—è—Ç—å –∂–µ, –≤–∞–∂–Ω–æ –ø–æ–Ω–∏–º–∞—Ç—å, —á—Ç–æ –≤—ã –º–æ–∂–µ—Ç–µ –ø–æ—Ç–µ—Ä—è—Ç—å –æ—á–µ–Ω—å –º–Ω–æ–≥–æ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏:

In [45]:
countries.shape, countries_without_nan.shape

((2346, 6), (126, 6))

## 2.5 –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏
–£ —Ç–∞–±–ª–∏—Ü—ã –≤ `pandas` –µ—Å—Ç—å –º–Ω–æ–∂–µ—Å—Ç–≤–æ –º–µ—Ç–æ–¥–æ–≤ –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Ç–µ—Ö –∏–ª–∏ –∏–Ω—ã—Ö –æ–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã—Ö —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫:

In [46]:
print('Mean life expectancy: ', countries['Life expectancy'].mean()) # —Å—Ä–µ–¥–Ω–µ–µ
print('Min life expectancy: ', countries['Life expectancy'].min()) # –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
print('Life expectancy 25% quantile: ', countries['Life expectancy'].quantile(0.25)) # –∫–≤–∞–Ω—Ç–∏–ª—å —É—Ä–æ–≤–Ω—è 0.25

Mean life expectancy:  65.61479820627802
Min life expectancy:  23.5
Life expectancy 25% quantile:  58.5

–î–ª—è —Å—Ä–∞–≤–Ω–µ–Ω–∏—è, —Ç–µ –∂–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ —Ç–∞–±–ª–∏—Ü–µ —Å –≤—ã—á–∏—â–µ–Ω–Ω—ã–º–∏ –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ - –æ–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞—Å–∫–æ–ª—å–∫–æ —Å–∏–ª—å–Ω–æ –º–æ–≥—É—Ç –º–µ–Ω—è—Ç—å—Å—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏:

In [47]:
print('Mean life expectancy: ', countries_without_nan['Life expectancy'].mean())
print('Min life expectancy: ', countries_without_nan['Life expectancy'].min())
print('Life expectancy 25% quantile: ', countries_without_nan['Life expectancy'].quantile(0.25))

Mean life expectancy:  67.42857142857143
Min life expectancy:  36.5
Life expectancy 25% quantile:  71.5

–¢–∞–∫–∂–µ, –º–æ–∂–Ω–æ –≤—ã–≤–æ–¥–∏—Ç—å —Ü–µ–ª—ã–µ **–Ω–∞–±–æ—Ä—ã —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫** –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º —Ç–∞–±–ª–∏—Ü—ã c –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `describe()` 
- –ø–æ **—á–∏—Å–ª–æ–≤—ã–º** –ø–æ–ª—è–º —Ç–∞–±–ª–∏—Ü—ã - –∏—Å–ø–æ–ª—å–∑—É–µ–º –º–µ—Ç–æ–¥ —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º `include=None` (—Ç–∞–∫–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∑–∞–¥–∞–Ω–æ –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é). –ù–∞–±–æ—Ä –≤–∫–ª—é—á–∞–µ—Ç:
    - count - —á–∏—Å–ª–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –±–µ–∑ –ø—Ä–æ–ø—É—Å–∫–æ–≤
    - mean - —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
    - std - —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ
    - min - –º–∏–Ω–∏–º—É–º
    - 50% - –º–µ–¥–∏–∞–Ω–∞
    - 25% - 25% –∫–≤–∞–Ω—Ç–∏–ª—å
    - 75% - 75% –∫–≤–∞–Ω—Ç–∏–ª—å
    - max - –º–∞–∫—Å–∏–º—É–º
- –ø–æ **—á–∏—Å–ª–æ–≤—ã–º –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–º** –ø–æ–ª—è–º - –∏—Å–ø–æ–ª—å–∑—É–µ–º –º–µ—Ç–æ–¥ —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º `include=object` . –ù–∞–±–æ—Ä –≤–∫–ª—é—á–∞–µ—Ç:
    - count - —á–∏—Å–ª–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –±–µ–∑ –ø—Ä–æ–ø—É—Å–∫–æ–≤
    - unique - —á–∏—Å–ª–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
    - top - —Å–∞–º–æ–µ —á–∞—Å—Ç–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
    - freq - —á–∞—Å—Ç–æ—Ç–∞, —Å –∫–æ—Ç–æ—Ä–æ–π –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ top

In [48]:
countries.describe()

,Life expectancy,Year,Literacy percent,Child overweight percent,Child underweight percent
count,1338.000000,2346.000000,593.000000,634.000000,807.000000
mean,65.614798,1996.944587,79.776054,6.836306,16.982454
std,10.429435,8.038097,20.319011,5.015300,13.729375
min,23.500000,1966.000000,9.400000,0.000000,0.000000
25%,58.500000,1990.000000,68.500000,3.316667,5.283333
50%,68.750000,1995.000000,87.900000,5.700000,14.066667
75%,73.500000,2002.000000,95.500000,9.000000,24.250000
max,81.500000,2012.000000,100.000000,30.000000,67.300000

In [49]:
countries.describe(include='object')

       Country or Area
count             2346
unique             216
top              Chile
freq                30

üìåüìåüìå **–ó–∞–¥–∞–Ω–∏–µ 2 (30 –±–∞–ª–ª–æ–≤)**

–í –æ—Ç–¥–µ–ª—å–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç `data_new` —Å–∫–æ–ø–∏—Ä—É–π—Ç–µ –∏–∑ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã `countries` –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –∑–∞ 2009 –≥–æ–¥. 

–£–¥–∞–ª–∏—Ç–µ —Å—Ç–æ–ª–±–µ—Ü —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –ø—Ä–æ–¥–æ–ª–∂–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∂–∏–∑–Ω–∏ –∏ –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º –≥—Ä–∞–º–æ—Ç–Ω–æ–≥–æ –Ω–∞—Å–µ–ª–µ–Ω–∏—è. –ó–∞—Ç–µ–º –≤ –æ—Å—Ç–∞–≤—à–µ–º—Å—è –¥–∞—Ç–∞—Å–µ—Ç–µ —É–¥–∞–ª–∏—Ç–µ –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏.

–°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü `normal_weight` –≤ –∫–æ—Ç–æ—Ä—ã–π –ø–æ–º–µ—Å—Ç–∏—Ç–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ø—Ä–æ—Ü–µ–Ω—Ç–µ –¥–µ—Ç–µ–π —Å –Ω–æ—Ä–º–∞–ª—å–Ω—ã–º –≤–µ—Å–æ–º (—Ç.–µ. –Ω–µ –∏–º–µ—é—â–∏–º –Ω–µ–¥–æ–≤–µ—Å–∞ underweight –∏–ª–∏ –∏–∑–±—ã—Ç–æ—á–Ω–æ–≥–æ –≤–µ—Å–∞ overweight ).

–í—ã–≤–µ–¥–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞ —ç–∫—Ä–∞–Ω.

In [50]:
# –í–∞—à –∫–æ–¥
data_new = countries[countries.Year == 2009].copy()

data_new = data_new.drop(['Life expectancy', 'Literacy percent'], axis=1)

data_new = data_new.dropna()

data_new['normal_weight'] = 100 - data_new['Child overweight percent'] - data_new['Child underweight percent']

data_new

,Country or Area,Year,Child overweight percent,Child underweight percent,normal_weight
1332,Albania,2009,23.366667,6.300000,70.333333
1516,Guyana,2009,6.666667,11.100000,82.233333
1564,Kyrgyzstan,2009,4.400000,4.700000,90.900000
1802,Venezuela (Bolivarian Republic of),2009,6.400000,2.900000,90.700000
1903,China,2009,5.266667,4.600000,90.133333
1910,Costa Rica,2009,8.100000,1.166667,90.733333
1920,Democratic People's Republic of Korea,2009,0.000000,18.800000,81.200000
1950,Georgia,2009,19.833333,1.133333,79.033333
1960,Guatemala,2009,4.933333,13.000000,82.066667
2001,Jordan,2009,6.566667,1.866667,91.566667
2008,Kenya,2009,5.000000,16.400000,78.600000
2015,Kuwait,2009,9.000000,1.733333,89.266667
2033,Malawi,2009,4.933333,12.100000,82.966667
2038,Maldives,2009,6.933333,17.800000,75.266667
2080,Oman,2009,1.733333,8.600000,89.666667
2111,Sao Tome and Principe,2009,11.600000,14.433333,73.966667
2135,Sri Lanka,2009,0.833333,21.600000,77.566667
2142,Syrian Arab Republic,2009,17.933333,10.100000,71.966667
2144,Tajikistan,2009,4.166667,8.333333,87.500000

üìåüìåüìå **–ó–∞–¥–∞–Ω–∏–µ 3 (60 –±–∞–ª–ª–æ–≤)**

*–í—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è –ø–æ –≤–∞—Ä–∏–∞–Ω—Ç–∞–º*

–í–∞–º –¥–∞–Ω–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –æ–± –∞—Ä–µ–Ω–¥–µ –≤–µ–ª–æ—Å–∏–ø–µ–¥–æ–≤ (—Ñ–∞–π–ª `bikes.csv`). –ü–æ–¥—Ä–æ–±–Ω–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤
–º–æ–∂–Ω–æ –ø—Ä–æ—á–∏—Ç–∞—Ç—å [–∑–¥–µ—Å—å](https://archive.ics.uci.edu/ml/datasets/Bike%20Sharing%20Dataset#) (–≤ –∏—Å—Ö–æ–¥–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –≤–µ–ª–∏—á–∏–Ω—ã –æ—Ç–Ω–æ—Ä–º–∏—Ä–æ–≤–∞–Ω—ã –≤ –æ—Ç—Ä–µ–∑–æ–∫ $[0; 1]$, –≤ –Ω–∞—à–µ–π –≤–µ—Ä—Å–∏–∏ –¥–∞—Ç–∞—Å–µ—Ç–∞ -- –Ω–µ—Ç).

–í –∑–∞–¥–∞–Ω–∏–∏ –º–æ–≥—É—Ç –ø–æ–Ω–∞–¥–æ–±–∏—Ç—å—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –ø–æ–ª—è —Ç–∞–±–ª–∏—Ü—ã:
- `datetime`: –¥–∞—Ç–∞ –∞—Ä–µ–Ω–¥—ã
- `season`: —Å–µ–∑–æ–Ω—ã –ø—Ä–æ–∫–∞—Ç–∞: 
    - 1: –∑–∏–º–∞
    - 2: –≤–µ—Å–Ω–∞
    - 3: –ª–µ—Ç–æ
    - 4: –æ—Å–µ–Ω—å
- `workingday`: —è–≤–ª—è–ª—Å—è –ª–∏ –¥–µ–Ω—å —Ä–∞–±–æ—á–∏–º
    - 0: –ø—Ä–∞–∑–¥–Ω–∏–∫–∏ –∏–ª–∏ –≤—ã—Ö–æ–¥–Ω—ã–µ
    - 1: –æ–±—ã—á–Ω—ã–π —Ä–∞–±–æ—á–∏–π –¥–µ–Ω—å
-`weathersit`: –æ–±–ª–∞—á–Ω–æ—Å—Ç—å/–æ—Å–∞–¥–∫–∏
    - 1: —è—Å–Ω–æ/–º–∞–ª–æ–æ–±–ª–∞—á–Ω–æ
    - 2: —Ç—É–º–∞–Ω
    - 3: –Ω–µ–±–æ–ª—å—à–∏–µ –æ—Å–∞–¥–∫–∏
    - 4: —Å–∏–ª—å–Ω—ã–µ –æ—Å–∞–¥–∫–∏
- `temp`: —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –≤–æ–∑–¥—É—Ö–∞ –ø–æ –¶–µ–ª—å—Å–∏—é
- `hum`: –≤–ª–∞–∂–Ω–æ—Å—Ç—å –≤–æ–∑–¥—É—Ö–∞ (–∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ $[0,1]$)
- `windspeed`: —Å–∫–æ—Ä–æ—Å—Ç—å –≤–µ—Ç—Ä–∞
- `cnt`: –æ–±—â–µ–µ —á–∏—Å–ª–æ –∞—Ä–µ–Ω–¥ (–æ–±—ã—á–Ω—ã—Ö –∞—Ä–µ–Ω–¥ –∏ –∞—Ä–µ–Ω–¥ –ø–æ –∞–±–æ–Ω–µ–º–µ–Ω—Ç—É)
- `yr`: –≥–æ–¥ (0: 2011 –≥–æ–¥, 1: 2012 –≥–æ–¥)
- `mnth`: –º–µ—Å—è—Ü (1-12)

**–ù–µ–æ–±—Ö–æ–¥–∏–º–æ:**
1. —Å—á–∏—Ç–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É;

**–≤–∞—Ä–∏–∞–Ω—Ç 1:**

2. –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –µ—ë –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ (–Ω–µ —É–¥–∞–ª—è—Ç—å, –∞ –∑–∞–º–µ–Ω–∏—Ç—å –ø–æ–¥—Ö–æ–¥—è—â–∏–º–∏ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞–º–∏);
3. –≤—ã–≤–µ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –∑–∞ –ª–µ—Ç–Ω–∏–π –∏ –∑–∏–º–Ω–∏–π —Å–µ–∑–æ–Ω;
4. –≤—ã–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —á–∏—Å–ª–µ –Ω–µ—Ä–∞–±–æ—á–∏—Ö –¥–Ω–µ–π, –∫–æ–≥–¥–∞ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –ø—Ä–µ–≤—ã—à–∞–ª–∞ $10$ –≥—Ä–∞–¥—É—Å–æ–≤;
5. –≤—ã–≤–µ—Å—Ç–∏ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –∞—Ä–µ–Ω–¥ –≤–µ–ª–æ—Å–∏–ø–µ–¥–æ–≤ –≤ —è–Ω–≤–∞—Ä–µ –≤ 2011 –≥–æ–¥—É;
6. –≤—ã–≤–µ—Å—Ç–∏ –º–∏–Ω–∏–º–∞–ª—å–Ω—É—é –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—É—é —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—É –∑–∞ –∞–ø—Ä–µ–ª—å –∏ –º–∞–π.

**–≤–∞—Ä–∏–∞–Ω—Ç 2:**

2. –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –µ—ë –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ (–Ω–µ —É–¥–∞–ª—è—Ç—å, –∞ –∑–∞–º–µ–Ω–∏—Ç—å –ø–æ–¥—Ö–æ–¥—è—â–∏–º–∏ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞–º–∏);
3. –≤—ã–≤–µ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é —Ç–æ–ª—å–∫–æ –¥–ª—è –¥–Ω–µ–π, –∫–æ–≥–¥–∞ —Å—Ç–æ—è–ª–∞ —è—Å–Ω–∞—è/–º–∞–ª–æ–æ–±–ª–∞—á–Ω–∞—è –ø–æ–≥–æ–¥–∞;
4. –≤—ã–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Ç–æ–º, –∫–∞–∫–æ–π –±—ã–ª–∞ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –≤–æ–∑–¥—É—Ö–∞ –≤ –¥–Ω–∏ —Å–∏–ª—å–Ω–æ–≥–æ –≤–µ—Ç—Ä–∞($>15$);
5. –≤—ã–≤–µ—Å—Ç–∏ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –∞—Ä–µ–Ω–¥ –≤–µ–ª–æ—Å–∏–ø–µ–¥–æ–≤ –ª–µ—Ç–æ–º 2011 –≥–æ–¥–∞;
6. –≤—ã–≤–µ—Å—Ç–∏ –º–µ–¥–∏–∞–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã –≤ —Ñ–µ–≤—Ä–∞–ª–µ 2012.

**–≤–∞—Ä–∏–∞–Ω—Ç 3:**

2. –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –µ—ë –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ (–Ω–µ —É–¥–∞–ª—è—Ç—å, –∞ –∑–∞–º–µ–Ω–∏—Ç—å –ø–æ–¥—Ö–æ–¥—è—â–∏–º–∏ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞–º–∏);
3. –≤—ã–≤–µ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é —Ç–æ–ª—å–∫–æ –ø–æ —Ä–∞–±–æ—á–∏–º –¥–Ω—è–º;
4. –≤—ã–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —á–∏—Å–ª–µ –∂–∞—Ä–∫–∏—Ö (–≤—ã—à–µ 26 –≥—Ä–∞–¥—É—Å–æ–≤) –¥–Ω–µ–π –ª–µ—Ç–æ–º 2012;
5. –≤—ã–≤–µ—Å—Ç–∏ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –∞—Ä–µ–Ω–¥ –≤–µ–ª–æ—Å–∏–ø–µ–¥–æ–≤ –≤ —è—Å–Ω—É—é/–º–∞–ª–æ–æ–±–ª–∞—á–Ω—É—é –ø–æ–≥–æ–¥—É;
6. –≤—ã–≤–µ—Å—Ç–∏ –º–µ–¥–∏–∞–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã –≤ —Ñ–µ–≤—Ä–∞–ª–µ 2012.

**–≤–∞—Ä–∏–∞–Ω—Ç 4:**

2. –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –µ—ë –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏. –ü—Ä–∏ —ç—Ç–æ–º —á–∞—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∑–∞–º–µ–Ω–∏—Ç—å –ø–æ–¥—Ö–æ–¥—è—â–∏–º–∏ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞–º–∏, –∞ —Ö–æ—Ç—è –±—ã –¥–ª—è –æ–¥–Ω–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø—Ä–∏–¥—É–º–∞—Ç—å –∏ —Ä–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å –±–æ–ª–µ–µ –ø—Ä–æ–¥–≤–∏–Ω—É—é —Å—Ç—Ä–∞—Ç–µ–≥–∏—é –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤;
3. –≤—ã–≤–µ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –∑–∞ –º–∞–π 2011;
4. –≤—ã–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ  –¥–µ—Å—è—Ç–∏ –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞—é—â–∏—Ö—Å—è –∑–Ω–∞—á–µ–Ω–∏—è—Ö —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã –≤–æ–∑–¥—É—Ö–∞;
5. –≤—ã–≤–µ—Å—Ç–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –∞—Ä–µ–Ω–¥ –≤–µ–ª–æ—Å–∏–ø–µ–¥–æ–≤ –ø—Ä–∏ —Å–∏–ª—å–Ω–æ–º –≤–µ—Ç—Ä–µ ($>15$);
6. –∏—Å–ø–æ–ª—å–∑—É—è –º–µ—Ç–æ–¥ `groupby()` –≤—ã–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Å—Ä–µ–¥–Ω–µ–º –∏ –æ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–º –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–∏ —á–∏—Å–ª–∞ –∞—Ä–µ–Ω–¥ –≤–µ–ª–æ—Å–∏–ø–µ–¥–æ–≤ –ø–æ —Å–µ–∑–æ–Ω–∞–º.

In [ ]:
# –≤–∞—à –∫–æ–¥ –≤–∞—Ä–∏–∞–Ω—Ç 4
# 1
bikes = pd.read_csv('bikes.csv')

# 2
print("–ü—Ä–æ–ø—É—Å–∫–∏ –¥–æ –æ–±—Ä–∞–±–æ—Ç–∫–∏:")
print(bikes.isnull().sum())

# –ø–æ—Ö–æ–∂–µ –Ω–∞ –ø–æ–ª–µ –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ–µ Id
bikes['instant'] = bikes['instant'].interpolate().round().astype(float)

bikes['temp'] = bikes['temp'].interpolate().astype(float)

bikes['hum'] = bikes['hum'].interpolate().astype(float)

bikes['dteday'] = pd.to_datetime(bikes['dteday'])

# –°—É–¥—è –ø–æ —Å—Ç—Ä—É–∫—Ç—É—Ä–µ –¥–∞–Ω–Ω—ã—Ö –¥–Ω–∏ –¥–æ–ª–∂–Ω—ã –∏–¥—Ç–∏ –ø–æ –ø–æ—Ä—è–¥–∫—É
base_date = bikes['dteday'].min()
bikes['dteday'] = base_date + pd.to_timedelta(bikes['instant'] - 1, unit='D')

bikes['mnth'] = bikes['dteday'].dt.month.astype(float)

bikes['season'] = bikes['dteday'].dt.quarter.astype(float)

bikes['yr'] = bikes['dteday'].dt.year-bikes['dteday'].dt.year.min()

bikes['holiday'] = bikes['holiday'].fillna(value=0.0)

bikes['weekday'] = bikes['dteday'].dt.weekday

# –î–ª—è weathersit –∑–∞–ø–æ–ª–Ω—è–µ–º –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å–µ–∑–æ–Ω–∞
bikes['weathersit'] = bikes.groupby('season')['weathersit'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 1)
)
#–ø–æ–ª—å–∑—É–µ–º—Å—è –≤–æ–∑–º–Ω–æ–∂—Å—Ç—è–º–∏ datetime
bikes['workingday'] = bikes['workingday'].fillna(
    bikes['dteday'].dt.dayofweek.apply(lambda x: 1 if x < 5 else 0)
)
#–≤—Å–µ –ø—Ä–æ—á–µ–µ –∑–∞–ø–æ–ª–Ω–∏–º –º–µ–¥–∏–∞–Ω–æ–π
numeric_cols = bikes.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    bikes[col] = bikes[col].fillna(bikes[col].median())

print("\n–ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ—Å–ª–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏:")
print(bikes.isnull().sum())

# 3
may_2011 = bikes[(bikes.yr == 0) & (bikes.mnth == 5)]
print("\n–î–∞–Ω–Ω—ã–µ –∑–∞ –º–∞–π 2011:")
print(may_2011)

# 4
print("\n10 –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã:")
print(bikes['temp'].value_counts().head(10))

# 5
strong_wind = bikes[bikes.windspeed > 15]
max_rentals = strong_wind['cnt'].max()
print(f"\n–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –∞—Ä–µ–Ω–¥ –ø—Ä–∏ –≤–µ—Ç—Ä–µ >15: {max_rentals}")

# 6
season_stats = bikes.groupby('season')['cnt'].agg(['mean', 'std'])
print("\n–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –∞—Ä–µ–Ω–¥ –ø–æ —Å–µ–∑–æ–Ω–∞–º:")
print(season_stats)

#write bikes to csv
#bikes.to_csv('bikes_filled.csv', index=False)

–ü—Ä–æ–ø—É—Å–∫–∏ –¥–æ –æ–±—Ä–∞–±–æ—Ç–∫–∏:
instant       10
dteday        11
season         9
yr            13
mnth          11
holiday        2
weekday        8
workingday    12
weathersit    11
temp          12
atemp          4
hum            4
windspeed      4
casual         9
registered     2
cnt            8
dtype: int64

–ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ—Å–ª–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏:
instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

–î–∞–Ω–Ω—ã–µ –∑–∞ –º–∞–π 2011:
     instant     dteday  season  yr  mnth  holiday  weekday  workingday  \
120    121.0 2011-05-01     2.0   0   5.0      0.0        6         0.0
121    122.0 2011-05-02     2.0   0   5.0      0.0        0         1.0
122    123.0 2011-05-03     2.0   0   5.0      0.0        1         1.0
123    124.0 2011-05-04     2.0   0   5.0      0.0        2         1.0
124    125.0 2011-05-05     2.0   0   5.0      0.0        3         1.0
125    126.0 2011-05-06     2.0   0   5.0      0.0        4         1.0
126    127.0 2011-05-07     2.0   0   5.0      0.0        5         0.0
127    128.0 2011-05-08     2.0   0   5.0      0.0        6         0.0
128    129.0 2011-05-09     2.0   0   5.0      0.0        0         1.0
129    130.0 2011-05-10     2.0   0   5.0      0.0        1         1.0
130    131.0 2011-05-11     2.0   0   5.0      0.0        2         1.0
131    132.0 2011-05-12     2.0   0   5.0      0.0        3         1.0
132    133.0 2011-05-13     2.0   0   5.0      0.0        4         1.0
133    134.0 2011-05-14     2.0   0   5.0      0.0        5         0.0
134    135.0 2011-05-15     2.0   0   5.0      0.0        6         0.0
135    136.0 2011-05-16     2.0   0   5.0      0.0        0         1.0
136    137.0 2011-05-17     2.0   0   5.0      0.0        1         1.0
137    138.0 2011-05-18     2.0   0   5.0      0.0        2         1.0
138    139.0 2011-05-19     2.0   0   5.0      0.0        3         1.0
139    140.0 2011-05-20     2.0   0   5.0      0.0        4         1.0
140    141.0 2011-05-21     2.0   0   5.0      0.0        5         0.0
141    142.0 2011-05-22     2.0   0   5.0      0.0        6         0.0
142    143.0 2011-05-23     2.0   0   5.0      0.0        0         1.0
143    144.0 2011-05-24     2.0   0   5.0      0.0        1         1.0
144    145.0 2011-05-25     2.0   0   5.0      0.0        2         1.0
145    146.0 2011-05-26     2.0   0   5.0      0.0        3         1.0
146    147.0 2011-05-27     2.0   0   5.0      0.0        4         1.0
147    148.0 2011-05-28     2.0   0   5.0      0.0        5         0.0
148    149.0 2011-05-29     2.0   0   5.0      0.0        6         0.0
149    150.0 2011-05-30     2.0   0   5.0      1.0        0         0.0
150    151.0 2011-05-31     2.0   0   5.0      0.0        1         1.0

     weathersit       temp      atemp       hum  windspeed  casual  \
120         2.0  13.228349  13.581464  0.762083   7.125718  1138.0
121         2.0  17.810849  19.166978  0.730000  12.291418   847.0
122         2.0  20.983349  22.417214  0.697083  22.958689   603.0
123         2.0  11.465849  10.706900  0.737083  22.042732   255.0
124         1.0  13.580849  13.166522  0.444167  19.791264   614.0
125         1.0  14.520849  15.291722  0.590000  15.292482   894.0
126         1.0  16.440000  17.832986  0.541250  10.750150  1612.0
127         1.0  16.831651  18.249578  0.631667   5.000712  1401.0
128         1.0  17.027500  18.666236  0.588750  11.792000   664.0
129         1.0  17.027500  18.499586  0.489167   7.749957   694.0
130         1.0  17.497500  18.874400  0.632917   8.083014   550.0
131         1.0  17.145000  18.541958  0.747500  12.707689   695.0
132         2.0  16.087500  16.623800  0.863333  12.041575   692.0
133         2.0  16.479151  17.041514  0.922500   9.041650   902.0
134         2.0  18.437500  19.376000  0.867083  10.249593  1582.0
135         1.0  19.142500  20.333792  0.787917   8.500357   773.0
136         2.0  18.398349  19.542914  0.837917  18.582718   678.0
137         2.0  17.850000  18.792428  0.870000  13.499964   536.0
138         2.0  16.949151  17.708972  0.829583   7.250271   735.0
139         1.0  17.223349  18.916772  0.719583   8.375871   909.0
140         1.0  20.317500  21.750350  0.626667   8.083550  2258.0
141         1.0  20.395849  21.917000  0.749583   9.916536  1576.0
142         2.0  21.688349  22.959536  0.810000  15.667414   836.0
143         2.0  23.020000  23.917658  0.740833  13.875164   659.0
144         1.0  23.059151  24.625772  0.696250  10.333611   740.0
145         1.0  23.548750  27.209408  0.677500  13.376014   758.0
146         1.0  24.038349  16.124378  0.653750  16.125493   871.0
147         1.0  22.824151  24.417014  0.729583  15.416164  2001.0
148         1.0  23.372500  24.626300  0.818750  12.125325  2355.0
149         1.0  26.466651  28.292072  0.685000   8.792075  1549.0
150         1.0  28.425000  31.875278  0.636667   7.459043   673.0

     registered     cnt
120      2213.0  3351.0
121      3554.0  4401.0
122      3848.0  4451.0
123      2378.0  2633.0
124      3819.0  4433.0
125      3714.0  4608.0
126      3102.0  4714.0
127      2932.0  4333.0
128      3698.0  4362.0
129      4109.0  4803.0
130      3632.0  4182.0
131      4169.0  4864.0
132      3413.0  4105.0
133      2507.0  3409.0
134      2971.0  4553.0
135      3185.0  3958.0
136      3445.0  4123.0
137      3319.0  3855.0
138      3840.0  4575.0
139      4008.0  4917.0
140      3547.0  5805.0
141      3084.0  4660.0
142      3438.0  4274.0
143      3833.0  4492.0
144      4238.0  4978.0
145      3919.0  4677.0
146      3808.0  4679.0
147      2757.0  4758.0
148      2433.0  4788.0
149      2549.0  4098.0
150      3309.0  3982.0

10 –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã:
temp
4.494151     5
21.845000    5
22.510849    4
24.743349    4
23.960000    4
25.409151    4
18.515849    4
12.484151    3
8.097500     3
7.000849     3
Name: count, dtype: int64

–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –∞—Ä–µ–Ω–¥ –ø—Ä–∏ –≤–µ—Ç—Ä–µ >15: 8714.0

–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –∞—Ä–µ–Ω–¥ –ø–æ —Å–µ–∑–æ–Ω–∞–º:
               mean          std
season
1.0     2868.922652  1589.469672
2.0     5188.587912  1536.596026
3.0     5642.163043  1535.360332
4.0     4262.086957  1769.488152
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
726    12.0
727    12.0
728    12.0
729    12.0
730    12.0
Name: mnth, Length: 731, dtype: float64