# –õ–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ 4. –†–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

## –ß–∞—Å—Ç—å 1. –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑.

–°–∫–∞—á–∞–π—Ç–µ –≤ —Ä–∞–±–æ—á—É—é –¥–∏—Ä–µ–∫—Ç–æ—Ä–∏—é —Ñ–∞–π–ª `cardio_train.csv` - –≤ –Ω–µ–º –Ω–∞—Ö–æ–¥—è—Ç—Å—è –¥–∞–Ω–Ω—ã–µ, —Å –∫–æ—Ç–æ—Ä—ã–º–∏ –≤—ã –±—É–¥–µ—Ç–µ —Ä–∞–±–æ—Ç–∞—Ç—å.

–î–∞–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ **—Ç—Ä–µ—Ö** –∑–∞–¥–∞–Ω–∏–π. –û–Ω–∏ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ –±–ª–æ–∫–Ω–æ—Ç–µ –ø–æ—Å–ª–µ —Å–∏–º–≤–æ–ª–æ–≤ üìåüìåüìå . –î–ª—è –∑–∞–ø–∏—Å–∏ –æ—Ç–≤–µ—Ç–æ–≤ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —è—á–µ–π–∫–∏ –ø–æ–¥ –∑–∞–¥–∞–Ω–∏—è–º–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –∑–∞–ø–∏—Å—å `# –í–∞—à –∫–æ–¥`.

–ü—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ —Ä–∞–±–æ—Ç—ã —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç—Å—è –æ–±—Ä–∞—â–∞—Ç—å—Å—è:

- [–∫ —Å–ø—Ä–∞–≤–∫–µ –ø–æ Python 3](https://docs.python.org/3/tutorial/index.html),
- –∫ —É—á–µ–±–Ω–∏–∫—É `–£. –ú–∞–∫–∫–∏–Ω–∏. Python –∏ –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö`
- [–∫ —à–ø–∞—Ä–≥–∞–ª–∫–µ –ø–æ Pandas –Ω–∞ Harbr](https://habr.com/ru/company/ruvds/blog/494720/)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## –ü–æ–ª–µ–∑–Ω—ã–π —Ñ—É–Ω–∫—Ü–∏–æ–Ω–∞–ª: lambda-—Ñ—É–∫—Ü–∏–∏, –º–µ—Ç–æ–¥ pandas.apply()

–ê–Ω–æ–Ω–∏–º–Ω—ã–µ –∏–ª–∏ –ª—è–º–±–¥–∞-—Ñ—É–Ω–∫—Ü–∏–∏ - —ç—Ç–æ –ø—Ä–æ—Å—Ç—ã–µ –æ–¥–Ω–æ—Å—Ç—Ä–æ—á–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏, –≤–æ–∑–≤—Ä–∞—â–∞—é—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏–µ. –û–ø—Ä–µ–¥–µ–ª—è—é—Ç—Å—è –æ–Ω–∏ —Å –ø–æ–º–æ—â—å—é —Å–ª–æ–≤–∞ `lambda`, –∫–æ—Ç–æ—Ä–æ–µ —É–∫–∞–∑—ã–≤–∞–µ—Ç, —á—Ç–æ –¥–∞–ª–µ–µ –±—É–¥–µ—Ç –∑–∞–ø–∏—Å–∞–Ω –∞—Ä–≥—É–º–µ–Ω—Ç, –∞ –∑–∞—Ç–µ–º - —Ç–µ–ª–æ –∞–Ω–æ–Ω–∏–º–Ω–æ–π —Ñ—É–Ω–∫—Ü–∏–∏. –í –ø—Ä–∏–º–µ—Ä–µ –Ω–∏–∂–µ –ø–æ–∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–Ω–æ–µ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è —Ñ—É–Ω–∫—Ü–∏–∏ f(x) —Ä–µ–∞–ª–∏–∑–æ–≤–∞–Ω–æ –¥–≤—É–º—è —Ä–∞–∑–Ω—ã–º–∏ —Å–ø–æ—Å–æ–±–∞–º–∏: –æ–±—ã—á–Ω—ã–º —Å–ø–æ—Å–æ–±–æ–º –∏ —Å –ø–æ–º–æ—â—å—é –ª—è–º–±–¥–∞ —Ñ—É–Ω–∫—Ü–∏–∏.

In [2]:
def apply_to_list(mylist, myfun):
        return([myfun(x) for x in mylist])

In [3]:
# –æ–±—ã—á–Ω–æ–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–æ–π —Ñ—É–Ω–∫—Ü–∏–∏
def f(x):
    return(3*x**2+3)
apply_to_list([1,2,3], f)

[6, 15, 30]

In [4]:
# –ª—è–º–±–¥–∞-—Ñ—É–Ω–∫—Ü–∏—è
apply_to_list([1,2,3], lambda x:3*x**2+3)

[6, 15, 30]

–ß–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è —Å–∏—Ç—É–∞—Ü–∏—è, –∫–æ–≥–¥–∞ —Ñ—É–Ω–∫—Ü–∏—è, –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–∞—è –¥–ª—è —Å–∫–∞–ª—è—Ä–Ω–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –∏–ª–∏ –æ–¥–Ω–æ–º–µ—Ä–Ω–æ–≥–æ –≤–µ–∫—Ç–æ—Ä–∞,  –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å –ø—Ä–∏–º–µ–Ω–µ–Ω–∞ –∫ —Å—Ç–æ–ª–±—Ü—É –∏–ª–∏ —Å—Ç—Ä–æ–∫–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.
–í —ç—Ç–æ–º —Å–ª—É—á–∞–µ –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –º–µ—Ç–æ–¥–æ–º `apply` –æ–±—ä–µ–∫—Ç–∞ DataFrame.
–†–∞–∑–±–µ—Ä–∏—Ç–µ—Å—å, —á—Ç–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –≤ —è—á–µ–π–∫–∞—Ö –Ω–∏–∂–µ.

In [5]:
my_df=pd.DataFrame(data={"a":[1,2,3,1,2,2], "b":[1.25, 3.83, 2.789,3.456, 6.45, 3], "name":["Mary", "Kate", "Olga", "Kate", "Olga", "Kate"]})

In [6]:
my_df['a'].apply(f)

0     6
1    15
2    30
3     6
4    15
5    15
Name: a, dtype: int64

In [7]:
my_df[['a','b']].apply(sum)

a    11.000
b    20.775
dtype: float64

In [8]:
my_df[['a','b']].apply(sum, axis='columns')

0    2.250
1    5.830
2    5.789
3    4.456
4    8.450
5    5.000
dtype: float64

In [9]:
my_df['b'].apply(int)

0    1
1    3
2    2
3    3
4    6
5    3
Name: b, dtype: int64

**–ó–∞–º–µ—á–∞–Ω–∏–µ:** –û—Ç–º–µ—Ç–∏–º, —á—Ç–æ –æ—á–µ–Ω—å —É–¥–æ–±–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç–æ–¥ `apply` –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–∞ —Å—Ç–æ–ª–±—Ü–∞ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

## –ê–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
–†–∞—Å—Å–º–æ—Ç—Ä–∏–º –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö:
- **—Ñ—É–Ω–∫—Ü–∏—è groupby**

  –ø–æ–∑–≤–æ–ª—è–µ—Ç –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –Ω–µ–∫–æ—Ç–æ—Ä–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É –∏ –ø—Ä–∏–º–µ–Ω—è—Ç—å –∫ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É —Ä–∞–∑–ª–∏—á–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏.

–ò–∑—É—á–∏—Ç–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –Ω–∏–∂–µ –ø—Ä–∏–º–µ—Ä—ã –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è —Ñ—É–Ω–∫—Ü–∏–∏ `groupby` –∏ –ø—Ä–æ—á–∏—Ç–∞–π—Ç–µ –±–æ–ª–µ–µ –ø–æ–¥—Ä–æ–±–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —ç—Ç–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –≤ –∫–Ω–∏–≥–µ `–£. –ú–∞–∫–∫–∏–Ω–∏. Python –∏ –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö, —Å—Ç—Ä. 312-315 `

In [10]:
my_df.groupby('name')['a'].min()

name
Kate    1
Mary    1
Olga    2
Name: a, dtype: int64

In [11]:
my_df.groupby(['name','a'])['b'].mean()

name  a
Kate  1    3.456
      2    3.415
Mary  1    1.250
Olga  2    6.450
      3    2.789
Name: b, dtype: float64

- **—Å–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ pivot_table**

–≠—Ç–æ —Å—Ä–µ–¥—Å—Ç–≤–æ –æ–±–æ–±—â–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö. –û–Ω–æ –∞–≥—Ä–µ–≥–∏—Ä—É–µ—Ç —Ç–∞–±–ª–∏—Ü—É –ø–æ –æ–¥–Ω–æ–º—É –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –∫–ª—é—á–∞–º –∏ —Å—Ç—Ä–æ–∏—Ç –¥—Ä—É–≥—É—é —Ç–∞–±–ª–∏—Ü—É, –≤ –∫—Ç–æ—Ä–æ–π –æ–¥–Ω–∏ –≥—Ä—É–ø–ø–æ–≤—ã–µ –∫–ª—é—á–∏ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω—ã –≤ —Å—Ç—Ä–æ–∫–∞—Ö, –∞ –¥—Ä—É–≥–∏–µ - –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö.

–ò–∑—É—á–∏—Ç–µ –ø—Ä–∏–º–µ—Ä—ã –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –º–µ—Ç–æ–¥–∞ `pivot_table` –æ–±—ä–µ–∫—Ç–∞ DataFrame –∏ –ø—Ä–æ—á–∏—Ç–∞–π—Ç–µ –±–æ–ª–µ–µ –ø–æ–¥—Ä–æ–±–Ω–æ –æ —Å–≤–æ–¥–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö –≤ —É—á–µ–±–Ω–∏–∫–µ `–£. –ú–∞–∫–∫–∏–Ω–∏. Python –∏ –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö, —Å—Ç—Ä. 331-333 `

In [12]:
my_df.pivot_table(values='b', index='name', columns='a' )
# –µ—Å–ª–∏ –Ω–µ –∑–∞–¥–∞–≤–∞—Ç—å —Ñ—É–Ω—Ü–∏—é –∞–≥–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏—è aggfunc, —Ç–æ –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è mean

a         1      2      3
name
Kate  3.456  3.415    NaN
Mary  1.250    NaN    NaN
Olga    NaN  6.450  2.789

In [13]:
my_df.pivot_table(values='b', index='name', columns='a', fill_value=0 )

a         1      2      3
name
Kate  3.456  3.415  0.000
Mary  1.250  0.000  0.000
Olga  0.000  6.450  2.789

In [14]:
my_df.pivot_table(values='b', index='name', columns='a', aggfunc='count',  fill_value=0 )

a     1  2  3
name
Kate  1  2  0
Mary  1  0  0
Olga  0  1  1

- **—Ç–∞–±–ª–∏—Ü–∞ —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏ crosstab**

—ç—Ç–æ —á–∞—Å—Ç–Ω—ã–π —Å–ª—É—á–∞–π —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã, –≤ –∫–æ—Ç–æ—Ä–æ–π –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≥—Ä—É–ø–ø–æ–≤—ã–µ —á–∞—Å—Ç–æ—Ç—ã. –ë–æ–ª–µ–µ –ø–æ–¥—Ä–æ–±–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø—Ä–æ—á—Ç–∏—Ç–µ –≤ —É—á–µ–±–Ω–∏–∫–µ  `–£. –ú–∞–∫–∫–∏–Ω–∏. Python –∏ –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö, —Å—Ç—Ä. 334 `, –∞ —Ç–∞–∫–∂–µ –≤ —Å–ø—Ä–∞–≤–∫–µ –ø–æ —ç—Ç–æ–º—É –º–µ—Ç–æ–¥—É https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html

In [15]:
pd.crosstab(my_df.a, my_df.name)

name  Kate  Mary  Olga
a
1        1     1     0
2        2     0     1
3        0     0     1

## –†–∞–±–æ—Ç–∞ —Å –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–Ω—ã—Ö –æ —Å–µ—Ä–¥–µ—á–Ω–æ-—Å–æ—Å—É–¥–∏—Å—Ç—ã—Ö –∑–∞–±–æ–ª–µ–≤–∞–Ω–∏—è—Ö (–°–°–ó)
–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö **Cardiovascular Disease dataset** —Å–æ–¥–µ—Ä–∂–∏—Ç —Å–ª–µ–¥—É—é—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ø–∞—Ü–∏–µ–Ω—Ç–∞—Ö:
- age (–≤–æ–∑—Ä–∞—Å—Ç, –≤ –¥–Ω—è—Ö)
- height (—Ä–æ—Å—Ç, –≤ —Å–º.)
- weight (–≤–µ—Å, –≤ –∫–≥.)
- gender (–ø–æ–ª)
- ap_hi (—Å–∏—Å—Ç–æ–ª–∏—á–µ—Å–∫–æ–µ –¥–∞–≤–ª–µ–Ω–∏–µ)
- ap_lo (–¥–∏–∞—Å—Ç–æ–ª–∏—á–µ—Å–∫–æ–µ –¥–∞–≤–ª–µ–Ω–∏–µ)
- cholesterol  (—É—Ä–æ–≤–µ–Ω—å —Ö–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω–∞:  1: –Ω–æ—Ä–º–∞–ª—å–Ω—ã–π, 2: –ø–æ–≤—ã—à–µ–Ω–Ω—ã–π, 3: –æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π)
- gluc (—É—Ä–æ–≤–µ–Ω—å –≥–ª—é–∫–æ–∑—ã: 1: –Ω–æ—Ä–º–∞–ª—å–Ω—ã–π, 2: –ø–æ–≤—ã—à–µ–Ω–Ω—ã–π, 3: –æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π)
- smoke(–∫—É—Ä–µ–Ω–∏–µ)
- alco (—É–ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–µ –∞–ª–∫–æ–≥–æ–ª—è)
- active (—Ñ–∏–∑–∏—á–µ—Å–∫–∞—è –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å)
- cardio (–æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –∏–ª–∏ –Ω–∞–ª–∏—á–∏–µ –°–°–ó)

üìåüìåüìå **–ó–∞–¥–∞–Ω–∏–µ 1**

1. –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞ `cardio_train.csv`. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –µ—Å—Ç—å –ª–∏ –≤ –ø–æ–ª—É—á–µ–Ω–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –∏–ª–∏ –±–∏–Ω–∞—Ä–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏. –ï—Å–ª–∏ –¥–∞, —Ç–æ –¥–ª—è —Ç–∞–∫–∏—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω: 
   - —á–∏—Å–ª–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –±–µ–∑ –ø—Ä–æ–ø—É—Å–∫–æ–≤
   - —á–∏—Å–ª–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   - —Å–∞–º–æ–µ —á–∞—Å—Ç–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
   - —á–∞—Å—Ç–æ—Ç–∞, —Å –∫–æ—Ç–æ—Ä–æ–π –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ top
   
    –î–ª—è –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤—ã–≤–µ–¥–∏—Ç–µ:
   - count - —á–∏—Å–ª–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –±–µ–∑ –ø—Ä–æ–ø—É—Å–∫–æ–≤
    - mean - —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
    - std - —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ
    - min - –º–∏–Ω–∏–º—É–º
    - 50% - –º–µ–¥–∏–∞–Ω–∞
    - 25% - 25% –∫–≤–∞–Ω—Ç–∏–ª—å
    - 75% - 75% –∫–≤–∞–Ω—Ç–∏–ª—å
    - max - –º–∞–∫—Å–∏–º—É–º

    –î–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è —ç—Ç–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è –≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å –º–µ—Ç–æ–¥–æ–º `pandas.describe()` 


2. –í—ã–≤–µ–¥–∏—Ç–µ —á–∞—Å—Ç–æ—Ç—ã –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ –∫–∞–∂–¥–æ–≥–æ –∏–∑ –∑–Ω–∞—á–µ–Ω–∏–π –±–∏–Ω–∞—Ä–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [16]:
# –≤–∞—à –∫–æ–¥

üìåüìåüìå **–ó–∞–¥–∞–Ω–∏–µ 2**

–°–æ–∑–¥–∞–π—Ç–µ –ø–æ–¥—Ö–æ–¥—è—â–∏–µ —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É (pivot_table) –∏ —Ç–∞–±–ª–∏—Ü—É —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏ (crosstab) –∏ –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ –æ—Ç–≤–µ—Ç—å—Ç–µ —Å –ø–æ–º–æ—â—å—é –Ω–∏—Ö –Ω–∞ —Å–ª–µ–¥—É—é—â–∏–µ –≤–æ–ø—Ä–æ—Å—ã:

**–≤–∞—Ä–∏–∞–Ω—Ç 1**:
- –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ –Ω–µ–∫—É—Ä—è—â–∏–µ –ª—é–¥–∏, —Å—Ç—Ä–∞–¥–∞—é—â–∏–µ –°–°–ó, –≤ —Å—Ä–µ–¥–Ω–µ–º –∏–º–µ—é—Ç –±–æ–ª–µ–µ –≤—ã—Å–æ–∫–∏–π –≤–µ—Å, —á–µ–º –æ—Å—Ç–∞–ª—å–Ω—ã–µ? 
- –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ —Å—Ä–µ–¥–∏ –∫—É—Ä—è—â–∏—Ö –ø—Ä–æ—Ü–µ–Ω—Ç —Å—Ç—Ä–∞–¥–∞—é—â–∏—Ö –°–°–ó –±–æ–ª—å—à–µ?

**–≤–∞—Ä–∏–∞–Ω—Ç 2**:
- –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ  —Å –ø–æ–≤—ã—à–µ–Ω–∏–µ–º —É—Ä–æ–≤–Ω–µ–º —Ö–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω–∞ –ø—Ä–∏ –æ–¥–∏–Ω–∞–∫–æ–≤–æ–º —É—Ä–æ–≤–Ω–µ –≥–ª—é–∫–æ–∑—ã —Å–∏—Å—Ç–æ–ª–∏—á–µ—Å–∫–æ–µ –¥–∞–≤–ª–µ–Ω–∏–µ —É –ø–∞—Ü–∏–µ–Ω—Ç–æ–≤ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–∞–Ω–æ–≤–∏—Ç—Å—è –≤—ã—à–µ? 
- –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ –∫—É—Ä—è—â–∏–µ –ª—é–¥–∏ –±–æ–ª—å—à–µ —Å–∫–ª–æ–Ω–Ω—ã —É–ø–æ—Ç—Ä–µ–±–ª—è—Ç—å –∞–ª–∫–æ–≥–æ–ª—å?

**–≤–∞—Ä–∏–∞–Ω—Ç 3**:
- –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ –ø–æ–≤—ã—à–µ–Ω–∏–µ —É—Ä–æ–≤–Ω—è –≥–ª—é–∫–æ–∑—ã –∏ –∫—É—Ä–µ–Ω–∏–µ –Ω–µ–≥–∞—Ç–∏–≤–Ω–æ –≤–ª–∏—è—é—Ç –Ω–∞ —Å–∏—Å—Ç–æ–ª–∏—á–µ—Å–∫–æ–µ –¥–∞–≤–ª–µ–Ω–∏–µ? 
- –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ —Å—Ä–µ–¥–∏ —Ñ–∏–∑–∏—á–µ—Å–∫–∏ –∞–∫—Ç–∏–≤–Ω—ã—Ö –ª—é–¥–µ–π –ø—Ä–æ—Ü–µ–Ω—Ç —Å—Ç—Ä–∞–¥–∞—é—â–∏—Ö –°–°–ó –±–æ–ª—å—à–µ?

**–≤–∞—Ä–∏–∞–Ω—Ç 4**:
- –∫–∞–∫–æ–≤—ã –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–µ, –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–µ –∏ —Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è —Ä–∞–∑–Ω–æ—Å—Ç–∏ –º–µ–∂–¥—É —Å–∏—Å—Ç–æ–ª–∏—á–µ—Å–∫–∏–º –∏ –¥–∏–∞—Å—Ç–æ–ª–∏—á–µ—Å–∫–∏–º –¥–∞–≤–ª–µ–Ω–∏–µ–º –¥–ª—è –±–æ–ª—å–Ω—ã—Ö –°–°–ó –∏ –∑–¥–æ—Ä–æ–≤—ã—Ö –ª—é–¥–µ–π?  
- –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ —Å—Ä–µ–¥–∏ –º—É–∂—á–∏–Ω –ø—Ä–æ—Ü–µ–Ω—Ç —Å—Ç—Ä–∞–¥–∞—é—â–∏—Ö –°–°–ó –±–æ–ª—å—à–µ? (P.S. –ê –∫—Ç–æ-–∂–µ –∏–∑ –Ω–∞—à–∏—Ö –ø–∞—Ü–∏–µ–Ω—Ç–æ–≤ - –º—É–∂—á–∏–Ω—ã? –ö–∞–∫ –±—ã —ç—Ç–æ –≤—ã—è—Å–Ω–∏—Ç—å –ø–æ –¥–∞–Ω–Ω—ã–º?)

In [17]:
# –≤–∞—à –∫–æ–¥